@model WebBanHang.Context.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <center><h1 class="text-danger"><strong>Xóa sản phẩm</strong></h1></center>
    <h3>Bạn có chắc chắn muốn xóa không?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Avartar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Avartar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortDes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PriceDiscount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PriceDiscount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Slug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slug)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BrandId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrandId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Deleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại danh sách", "Index")
            </div>
        }
    </div>
</div>
