    @model WebBanHang.Context.User

@{
    ViewBag.Title = "Login";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <center><h3>Login</h3></center>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PasswordUser)
                        @Html.PasswordFor(m => m.PasswordUser, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    @*<div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary" value="Login" />
            </div>*@
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <mark>
                                <a href="https://localhost:44370/Home/Register"
                                   class="text-danger font-weight-bold">Register</a>
                            </mark>
                        </p>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" style="padding-left: 3rem; padding-top: 1.5rem; padding-right: 3rem; padding-bottom: 1.5rem; " />
                    </div>
                }
            </div>
                </div>
    </div>
</div>
